@font-face {
  font-family: myFirstFont;
  src: url(D:\Fonts\Inter\Inter-VariableFont_slnt,wght.ttf);
}
body {
  margin: 0;
  font-family: myFirstFont;
}
.container{
  display: flex;
}
.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #202123;;
  width: 17%;
  /* height: 100vh; */
}
.side-input{
  width: 230px;
  height: 40px;
  background-color: #202123 ;
  border: none;
  outline: none;
  border:1px solid #444654;
  margin-top: 6px;
  border-radius: 6px;
  padding-left: 15px;
  color: #FFF;
}
.side-input::placeholder{
  font-family: myFirstFont;
  color: #FFF;
}
.side-options{
    width: 244px;
    border-top: 1px solid #444654;
}
.option{
  margin-left: 8px;
  display: flex;
  gap: 10px;
  color: #FFF;
  font-size: 13.5px;
  align-items: center;
}
.main-container{
  width: 83%;
  height: 100vh;
  background-color: #343541;
  display: flex;  
  align-items: center;
  flex-direction: column;
}
.main-data-container{
  margin-top: 10%;
  color: var(--white, #FFF);
  width: 718px;
  margin-left: auto;
  margin-right: auto;
}
.data-container{
  display: flex;
}
.row{
  width:250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.row > p{
  margin-top: 5px;
  font-weight: 500;
  line-height: 20px;
  font-size: 13px;
  width: 200px;
  padding:10px;
  border-radius: 5px;
  background: var(--bright, #444654);
}
h1{
  text-align: center;
  margin-bottom: 60px;
}
.foot-text{
  font-size: 12px;
  color: var(--gray-footprint, #9A9B9F);
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 225% */
  margin-top: auto;
}
.foot-text > a{
  font-size: 12px;
  color: var(--gray-footprint, #9A9B9F);
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 225% */
}
.text-field{
  margin-top: 5%;
  display: flex;
  align-items: center;
  width: 57%;
}
.text-input{
  width: 100%;
  border-radius: 4px;
  border: 1px solid #303139;
  background: #40414E;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
  height: 40px;
  position: relative;
  border: none;
  outline: none;
  color: #FFF;
}
.text-field > img{
  position: absolute;
  margin-left: 45.5%;
}

